body {
    background-color: aliceblue;
}

.first {
    margin: 100px 20px 50px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-between;
}

.first .text {
    display: inline-block;
    width: 65%;
    text-align: left;
    word-wrap: break-word;
}

.first img {
    width: 30%;
    margin: 10px;
    padding: 16px;
}

.second {
    margin: 0 20px -50px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-between;
}

.second .text {
    display: inline-block;
    width: 65%;
    margin-left: 10px;
    word-wrap: break-word;
}

.second img {
    width: 30%;
    margin: 10px;
    padding: 16px;
}

.team_container {
    clear: both;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
    text-align: center;
}

.teams {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
}

.teams>* {
    margin: 25px 0;
}

.teams .card {
    width: 320px;
    height: 470px;
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.teams .card .card_top {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 35%;
    padding: 16px;
    color: white;
    text-align: center;
    background: #764ba2;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.teams .card .card_bottom {
    width: 100%;
    height: 65%;
    padding: 66px 16px;
    /*  66px because image size 100px halp and 16px gonna be 66*/
    background-color: azure;
}

.teams .card img {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    background: #764ba2;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 0 0 3px 3px;
}

.card ul li {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.card ul li span i {
    color: aliceblue;
}

.card ul li span i:hover {
    color: blue;
}

@media screen and (max-width: 920px) {
    .first img {
        width: 40%;
    }
    .second img {
        width: 40%;
    }
    .first .text {
        width: 55%;
    }
    .second .text {
        width: 55%;
    }
}

@media screen and (max-width: 700px) {
    .first {
        flex-flow: column-reverse;
        justify-content: space-evenly;
    }
    .second {
        flex-flow: column;
    }
    .second .text {
        width: 100%;
        display: block;
    }
    .first .text {
        width: 100%;
    }
    .first img {
        width: 100%;
    }
    .second img {
        width: 100%;
    }
    .text {
        margin-top: 20px;
    }
}


/* for really small size device iphone 5 se*/

@media (max-width: 450px) {
    .teams .card {
        width: 95%;
        height: 490px;
    }
    .team_container {
        clear: both;
        width: 100%;
        padding: 20px 5px;
        background-color: white;
        text-align: center;
    }
}

@media (min-width: 1190px) {
    .teams .card {
        width: 300px;
        height: 470px;
        position: relative;
        text-align: left;
        margin-left: 8px;
        margin-right: 8px;
    }
}