.contact_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.contact_form_container {
    width: 100%;
    position: relative;
    padding: 100px 80px;
    margin-bottom: 100px;
}

.contact_card {
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    width: 30%;
    position: absolute;
    left: 100px;
    top: 200px;
    border-radius: 5px;
    text-align: center;
    color: #f5f7fa;
    padding: 20px;
}

.contact_card {
    color: #f5f7fa;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: column;
    min-height: 300px;
}

.contact_card h3 {
    width: 100%;
    text-align: center;
}

.contact_card span a {
    color: white;
}

.contact_card span i {
    color: white;
    margin-right: 10px;
}

.contact_form {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 80%;
    float: right;
    padding: 20px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

.contact_form form {
    width: 75%;
    float: right;
}

.contact_form button {
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    border: 0px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.contact_form button:active:focus {
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    outline: 0;
}

@media screen and (max-width: 900px) {
    .contact_form_container {
        display: flex;
        display: -webkit-flex;
        flex-flow: column;
    }
    .contact_form {
        padding-top: 15%;
        width: 100%;
        clear: both;
        margin: auto;
    }
    .contact_card {
        position: unset;
        width: 80%;
        margin: auto;
        margin-bottom: -10%;
        z-index: 3;
        align-items: center;
    }
    .contact_form form {
        width: 100%;
    }
    .contact_form_container {
        width: 100%;
        position: relative;
        padding: 100px 50px;
    }
}

@media screen and (max-width: 500px) {
    .contact_card {
        position: unset;
        width: 95%;
    }
    .contact_form_container {
        width: 100%;
        position: relative;
        padding: 100px 20px;
    }
}