.upper_container {
    height: 300px;
    min-height: 200%;
    width: 100%;
    overflow: hidden;
    background: #ccc4e4;
    border-radius: 5px 5px 0 0;
}


/* CCC4E4 */

.form-group {
    position: relative;
    margin: 120px auto 0;
    width: 60%;
    height: auto;
    cursor: pointer;
}

.form-group input {
    background-color: transparent;
    border: 2px solid #764ba2;
    height: 50px;
    color: #764ba2;
}

.form-group input:focus {
    background-color: transparent;
    color: #764ba2;
    letter-spacing: 2px;
    border: 2px solid #764ba2;
}

.search_icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #764ba2;
    font-size: 24px;
}

.search_icon:hover {
    font-size: 30px;
    color: black;
}

.label_text {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 18px;
    transform: translateY(-50%);
    color: #764ba2;
    letter-spacing: 2px;
    -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.active {
    position: absolute;
    top: -5px;
    font-size: 20px;
    letter-spacing: 4px;
    background: #ccc4e4;
}


/* CCC4E4 */

.middle_container {
    background: #f9f9fc;
    width: 100%;
    padding: 50px 80px;
}

.card_container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.cards {
    width: 450px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin-bottom: 32px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.cards:hover {
    transform: scale(1.1);
}

.cards i {
    width: auto;
    font-size: 3em;
    color: #764ba2;
    margin: auto 5%;
}

.cards .text_div {
    text-align: left;
}

.cards .text_div h3 {
    color: #764ba2;
    margin: 16px 16px 5px 0;
}

.cards .text_div p {
    display: inline-block;
    color: black;
    margin: 0 16px 16px 0;
}

.middle_container .question {
    list-style: none;
    width: 80%;
    margin: 50px auto;
}

.middle_container .question li {
    background: white;
    border: 0.5px solid grey;
    border-radius: 5px;
    margin: 25px auto;
    cursor: pointer;
}

.middle_container .question li .question_answer_div {
    padding: 16px;
    position: relative;
}

.middle_container .question li .question_answer_div i {
    color: #764ba2;
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 18px;
    transition: transform 0.2s ease;
}

.middle_container .question li .show i {
    transform: rotate(180deg);
}

.middle_container .ask_question_div .question li .question_answer_div p {
    display: none;
    transition: all 2s ease;
}

.middle_container .ask_question_div .question li h5 {
    margin-right: 40px;
    font-weight: bold;
}

.middle_container .ask_question_div .question li .show p {
    display: block;
    padding-right: 40px;
}

@media (max-width: 600px) {
    .middle_container .question {
        width: 100%;
    }
    .middle_container {
        background: #f9f9fc;
        width: 100%;
        padding: 50px 40px;
    }
    .form-group {
        width: 80%;
    }
    .form-group input:focus {
        letter-spacing: 1px;
    }
}

@media (max-width: 500px) {
    .middle_container .question {
        width: 100%;
    }
    .middle_container {
        background: #f9f9fc;
        width: 100%;
        padding: 50px 10px;
    }
    .form-group {
        width: 90%;
    }
    .label_text {
        font-size: 15px;
        transform: translateY(-50%);
    }
    .active {
        font-size: 16px;
        letter-spacing: 1px;
        top: -2px;
    }
}