.upper_container {
    width: 100%;
    height: auto;
}

.form_container {
    background-color: white;
    width: 70%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 10px;
}

.form_panel {
    width: 100%;
    padding: 25px;
}

.form_panel input {
    width: 100%;
}

.form_panel .btn {
    background: #764ba2;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: 0px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.form_panel .btn:focus {
    outline: none;
}

.overlay_container {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    background: #764ba2;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.overlay_panel {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: white;
}

.overlay_panel p {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 10px;
}

.overlay_panel h2 {
    font-size: 32px;
    letter-spacing: 3px;
}

.overlay_panel .btn {
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay_panel .btn:focus {
    outline: none;
}

.right {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.left {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    display: none;
    height: 100%;
}

.left-panel-active {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    overflow: hidden;
}

.left-panel-active .left {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    display: flex;
    display: -webkit-flex;
}

.left-panel-active .right {
    display: none;
}

@media (max-width: 650px) {
    .form_container {
        flex-flow: column;
        height: 100%;
    }
    .overlay_container {
        width: 100%;
        height: 55%;
        top: 45%;
        left: 0;
    }
    .left-panel-active {
        position: absolute;
        width: 100%;
        height: 45%;
        top: 0%;
        overflow: hidden;
    }
    .login {
        height: 50%;
    }
    .signup {
        height: 50%;
    }
}

@media (max-width: 900px) {
    .form_container {
        width: 90%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* fade in */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}